<?xml version="1.0"?>
<config>
    <modules>
        <Amber_PageLayout>
            <version>0.1.0</version>
        </Amber_PageLayout>
    </modules>
    <global>
        <page>
            <layouts>
                <homepage_layout translate="label">
                    <label>Amber Layout</label>
                    <template>amber/category.phtml</template>
                </homepage_layout>
            </layouts>
        </page>
    </global>
</config>